<%= form_for @patient, url: {action: 'create'} do |f| %>

  <fieldset>
    <legend>Personal information</legend>
    <div class="row">
      <div class="medium-4 columns <%= 'error' if @patient.errors.include?(:first_name) %>">
        <%= f.label :first_name %><%= f.text_field :first_name %>
        <% if @patient.errors.include?(:first_name) %>
          <small class="error"><%= @patient.errors.full_messages_for(:first_name).first %></small>
        <% end %>
      </div>
      <div class="medium-2 columns">
        <label>Prefix<%= f.text_field :surname_prefix %></label>
      </div>
      <div class="medium-6 columns <%= 'error' if @patient.errors.include?(:first_name) %>">
        <%= f.label :last_name %><%= f.text_field :last_name %>
        <% if @patient.errors.include?(:last_name) %>
          <small class="error"><%= @patient.errors.full_messages_for(:last_name).first %></small>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
          <%= f.label :date_of_birth %>
          <%= f.date_select(:date_of_birth,{ start_year: 1910, end_year: Date.today.year, order: [:day, :month, :year]},
          {class: "date"}) %> 
      </div>
      <div class="medium-4 columns">
        <label for="bsn">BSN<%= f.text_field :bsn %></label>
      </div> 
      <div class="medium-4 columns">
        <label>Gender</label>
            <%= f.radio_button(:male, true) %><%= f.label :male, 'Male', value: true %>
            <%= f.radio_button(:male, false) %><%= f.label :male, 'Female', value: false %>        
      </div>         
    </div>
  </fieldset>

  <fieldset>
    <legend>Contact information</legend>
    <div class="row">
      <div class="medium-12 columns">
        <label>Street and house number
          <%= f.text_field :address_street %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <label>Postal code
          <%= f.text_field :address_postal_code %>
        </label>
      </div>
      <div class="medium-8 columns">
        <label>City
          <%= f.text_field :address_city %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>E-mail address
          <%= f.email_field :email %>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Telephone number
          <%= f.telephone_field :telephone_number %>
        </label>
      </div>
    </div>
  </fieldset>
  <%= f.submit('Add patient', { class: "button"}) %>
<% end %>